<div id="header">
		<div>
			<div class="logo">
				<%= link_to "Oxford Edu", root_path %>
			</div>
			<ul id="navigation">
				<li class="active">
					<%= link_to "Home", root_path %>
				</li>
				<li>
					<%= link_to "About", pages_about_path %>
				</li>
				<li>
					<%= link_to "Camp Schedule", pages_camp_schedule_path %></a>
				</li>
				<li>
					<%= link_to "How it Works", pages_how_it_works_path %>
				</li>
				<li>
					<%= link_to "Contact", new_contact_path %>
				</li>
			</ul>
		</div>
	</div>

 